ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(56, 56, 56, 0.79);
    height: 52px;
    transition: height 1.3s;
}

    ul.topnav.responsive {
        height: 335px;
    }

    ul.topnav li {
        float: left;
        margin-bottom: -7px;
    }

        ul.topnav li a {
            display: inline-block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

            ul.topnav li a:hover {
                background-color: rgba(56, 56, 56, 0);
            }

@media screen and (max-width:770px) {

    ul.topnav li.icon {
        top: 6px;
        position: absolute;
        right: 0;
    }

    ul.topnav {
        position: relative;
    }

        ul.topnav li {
            float: none;
            display: block;
            padding: 5px 0;
        }

            ul.topnav li a {
                display: block;
                text-align: left;
                font-size: 14px;
            }
}



ul.topnav li a:hover {
    color: #FDF500 !important;
}
.enim-k1 nav.navbar-default {
    border: 0;
    border-radius: 0;
    height: 136px;
    padding-top: 10px;
    color: #f8f8f8;
    margin: 0;
}

    .enim-k1 nav.navbar-default a.navbar-brand {
        margin: 10px;
        padding: 0px;
    }

.enim-k1 nav.navbar-default a.navbar-brand img{
    width: 70%;
}

    .enim-k1 nav.navbar-default ul.navbar-right {
        margin-top: 40px;
    }

        .enim-k1 nav.navbar-default ul.navbar-right li {
            margin-right: 38px;
            position: relative;
        }

            .enim-k1 nav.navbar-default ul.navbar-right li a {
                color: #676767;
                font-size: 18px;
                font-family: gotham;
                padding-left: 0px;
                padding-right: 0px;
            }

            .enim-k1 nav.navbar-default ul.navbar-right li.active a {
                background: none;
            }

                .enim-k1 nav.navbar-default ul.navbar-right li.active a:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 12px;
                    background: #f26367;
                    margin-top: 20px;
                    visibility: visible;
                }

            .enim-k1 nav.navbar-default ul.navbar-right li a:after {
                content: "";
                display: block;
                width: 0%;
                height: 12px;
                background: #f26367;
                margin-top: 20px;
                visibility: hidden;
            }

            .enim-k1 nav.navbar-default ul.navbar-right li a:hover:after {
                width: 100%;
                visibility: visible;
                transition: all ease-in-out 0.3s;
                -webkit-transition: all ease-in-out 0.3s;
                -moz-transition: all ease-in-out 0.3s;
                -o-transition: all ease-in-out 0.3s;
                -ms-transition: all ease-in-out 0.3s;
            }

.enim-k1 nav.navbar-default ul.navbar-right li.active a:after {
    content: "";
    display: block;
    width: 100%;
    height: 9px;
    background: #f26367;
    margin-top: 20px;
    visibility: visible;
}

img.car-home {
    width: 100%;
}