/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2017, 3:40:17 AM
    Author     : Alexander
*/
body {
  background: #ffffff !important; }

header {
  background: #FFFFFF;
  margin: 0;
  border-bottom: 1px solid #bbbbbb; }

#menu {
  margin: 0; }

.menu > li > a, .menu > li {
  color: #525252;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  font-family: Oswald, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.75rem;
  letter-spacing: .2em; }
  .menu > li > a .fa, .menu > li .fa {
    color: #525252;
    transition: 0.4s all ease-in-out;
    padding-left: 5px;
    font-size: 20px;
    top: 1px;
    position: relative; }

.menu > li > a:hover, .menu > li:hover {
  border-top-color: #FFFFFF !important;
  color: #f26367 !important; }
  .menu > li > a:hover .fa, .menu > li:hover .fa {
    color: #f26367 !important; }

.header-text {
  position: absolute;
  bottom: 10%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff; }

.header-text h2 {
  font-size: 40px; }

.header-text h2 {
  font-size: 40px; }

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
  transition: .4s all ease-in-out;
  font-family: Oswald,sans-serif;
  text-transform: capitalize; }

.btn-theme:hover {
  color: #f26367;
  background-color: #fff;
  border-color: #fff; }

.btn-sm {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px; }

.btn-min-block {
  min-width: 170px; }

.carousel-indicators .active {
  border: none;
  transition: .3s; }

.carousel-indicators li, .carousel-indicators .active {
  width: 14px;
  height: 14px;
  margin: 0 8px; }

article .content-wrapper {
  background: linear-gradient(to bottom, transparent, black);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 20px;
  padding: 4% 40px; }
  article .content-wrapper h5 {
    max-height: calc(24px * 1.83 * 2);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.83;
    font-family: Oswald, sans-serif;
    letter-spacing: 0.28em;
    text-align: inherit; }
    article .content-wrapper h5 a {
      color: #ffffff !important; }
  article .content-wrapper .entry-meta {
    font-weight: 300;
    font-size: 12px;
    line-height: 2.83;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.2em;
    color: #ffffff; }
    article .content-wrapper .entry-meta time, article .content-wrapper .entry-meta a {
      color: #ffffff; }

.inner img {
  width: 100%; }

.inner:hover .post-thumbnail__link {
  opacity: .2;
  transition: .4s all ease-in-out; }

.inner:hover .content-wrapper {
  padding-bottom: 6%;
  transition: .4s all ease-in-out; }

.swiper-carousel-container {
  background: #1c1c1c; }

.swiper-carousel-container > .row {
  margin: 0; }
  .swiper-carousel-container > .row > article {
    padding: 0; }

h4, .h4-style {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.77;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.28em;
  text-align: inherit;
  color: #222222;
  margin: 30px 0; }

/*
.container h4{
  color: #b3b3b3;
  font-size: 48px;
  margin-bottom: 25px;
  font-family: oswald;
}*/
.container p {
  color: #525252;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.89;
  font-family: Roboto, sans-serif;
  letter-spacing: 0em;
  text-align: left; }

.link {
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  letter-spacing: 0.72px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-family: Oswald, sans-serif; }

#submit {
  width: 100%;
  padding: 17px;
  font-size: 16px;
  color: #f26367 !important;
  border: 1px solid #f26367 !important;
  background: #FFFFFF !important;
  border-radius: 3px !important;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: 300;
  font-family: Oswald, sans-serif;
  box-shadow: none !important; }

#submit:hover {
  color: #fff !important;
  background: #f26367 !important;
  box-shadow: none !important;
  border: 1px solid #f26367 !important;
  transition: .6s all ease-in-out; }

input, input[type=email], input[type=password], input[type=text], textarea {
  font-weight: 300 !important;
  font-family: "Roboto Condensed", sans-serif !important;
  letter-spacing: 0.2em !important;
  color: #000000 !important;
  padding: 20.5px 20px !important;
  border: 1px solid #f8f8f8 !important;
  background-color: #f8f8f8 !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  line-height: 1.4167 !important;
  transition: 0.3s all ease-in-out !important;
  border-radius: 3px !important;
  outline: 0 !important;
  border: 1px solid #ECECEE !important;
  background-color: transparent !important; }
  input:active, input:focus, input[type=email]:active, input[type=email]:focus, input[type=password]:active, input[type=password]:focus, input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus {
    outline: 0;
    border: 1px solid #ECECEE;
    background-color: transparent; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 40px 0 0 0;
  height: 0; }
