/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .enim-k1 nav.navbar-default ul.navbar-right li a {
        font-size: 19px;
    }

    .enim-k1 section.scooter {
        padding: 0px 0px 0px 0px;
    }

        .enim-k1 section.scooter div.smart-scooter h2 {
            font-size: 41px;
        }

        .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn {
            font-size: 16px;
        }

        .enim-k1 section.scooter div.smart-scooter div.scooter-btn {
            margin-bottom: 70px;
            margin-left: 174px;
        }

    .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box a h3 {
        font-size: 26px;
    }

    .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box p {
        font-size: 16px;
    }

    .enim-k1 section.services div.service h3 {
        font-size: 24px;
    }

    .enim-k1 section.services div.service p {
        font-size: 16px;
    }

    section.s1 div.s h1 {
        font-size: 115px;
        width: 130px;
    }

    section.s1 div.s h2 {
        font-size: 51px;
        line-height: 46px;
    }

    section.s1 div.s1-content h2 {
        font-size: 43px;
    }

    section.s1 div.s1-content p {
        font-size: 20px;
    }

    section.s1 div.scooter-btn {
        margin-left: 17px;
    }

        section.s1 div.scooter-btn a {
            font-size: 16px;
        }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .enim-k1 nav.navbar-default ul.navbar-right {
        margin-top: 0px !important;
    }

        .enim-k1 nav.navbar-default ul.navbar-right li {
            margin-right: 20px;
        }

            .enim-k1 nav.navbar-default ul.navbar-right li a {
                font-size: 14px;
            }

    .navbar-brand > img {
        width: 50%;
    }

    .enim-k1 section.scooter div.k1 h1 {
        font-size: 100px;
    }

    .enim-k1 section.scooter div.smart-scooter h2 {
        margin-top: 10px;
        font-size: 40px;
        line-height: 38px;
    }

    .enim-k1 section.scooter div.smart-scooter p {
        font-size: 22px;
    }

    .enim-k1 section.scooter div.smart-scooter div.scooter-btn {
        margin-bottom: 70px;
        margin-left: 130px;
    }

    .enim-k1 section.blogs > div.container {
        width: 100% !important;
    }

    .enim-k1 section.blogs div.blog-item {
        text-align: center;
    }

        .enim-k1 section.blogs div.blog-item div.blog-img img {
            width: 360px;
        }

        .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box {
            position: static;
            width: 100%;
        }

        .enim-k1 section.blogs div.blog-item div.blog-details {
            height: auto;
        }

    .enim-k1 section.blogs div.features div.scooter-img img {
        margin: 0 auto;
        width: 45%;
    }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item b {
        font-size: 18px;
        padding: 17px 15px;
    }

    .enim-k1 section.services div.service p {
        padding: 0 50px;
    }

    .enim-k1 section.services div.service {
        margin-bottom: 30px;
    }

    .enim-k1 section.slider-payment div.payment a {
        font-size: 17px;
    }

    .enim-k1 footer div.contact-form input[type="submit"] {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    section.s1 div.s h1 {
        font-size: 102px;
        width: 112px;
    }

    section.s1 div.s h2 {
        font-size: 45px;
        line-height: 39px;
    }

    section.s1 div.s1-content h2 {
        font-size: 35px;
    }

    section.s1 div.s1-content p {
        font-size: 17px;
    }

    section.s1 div.scooter-btn a {
        font-size: 14px;
    }

    section.s1 div.scooter-btn {
        margin-top: 7px;
    }

    .enim-k1 nav.navbar-default {
        height: 113px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .enim-k1 nav.navbar-default a.navbar-brand img {
        width: 50%;
    }

    .enim-k1 nav.navbar-default {
        height: 100px;
    }

    .navbar-default .navbar-toggle {
        color: #f26367;
        font-size: 30px;
        padding: 3px 10px;
        background: none;
        border: none;
    }

    .enim-k1 nav.navbar-default a.navbar-brand {
        margin-left: 20px;
    }

    .navbar-default .navbar-toggle.collapsed {
        font-size: 30px;
        padding: 3px 10px;
        background: none;
        border: none;
        color: #000;
    }

    .navbar-default .navbar-toggle:hover {
        background: none;
        color: #f26367;
    }

    .enim-k1 nav.navbar-default ul.navbar-right {
        background: #f8f8f8;
        border: none;
        padding: 10px !important;
        margin-top: 20px !important;
    }

    .enim-k1 nav.navbar-default div.navbar-collapse {
        border: 0px;
    }

    .enim-k1 nav.navbar-default div.navbar-collapse {
        position: absolute;
        width: 100%;
        z-index: 1000000000000000000;
    }

    .enim-k1 section.chopper div.k1 h1 {
        font-size: 40px !important;
    }

    .enim-k1 section.blogs div.features div.scooter-img img {
        padding: 0 90px;
        width: 100%;
    }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item span {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
    }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item b {
        padding: 0px 15px;
    }

    .enim-k1 section.scooter {
        background-position-x: 82%;
    }

        .enim-k1 section.scooter div.smart-scooter p {
            margin: 0px;
        }

        .enim-k1 section.scooter div.smart-scooter h2 {
            margin-bottom: 0px;
        }

        .enim-k1 section.scooter div.smart-scooter div.scooter-btn {
            margin-bottom: 20px;
            margin-left: 131px;
            width: 160px;
        }

            .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn {
                margin-bottom: 6px;
            }

            .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn-danger {
                padding: 6px 19px;
            }

    .enim-k1 section.slider-payment div.payment a {
        display: block;
        margin-right: 25% !important;
        margin-left: 25%;
        margin-bottom: 10px;
    }

    .enim-k1 section.slider-payment div.payment img {
        display: block;
        padding-right: 41%;
        padding-left: 42%;
        margin-bottom: 10px;
    }

    section.s1 {
        padding: 17% 0 26% 33%;
        background-position-x: 40%;
        background-position-y: 67%;
    }

        section.s1 div.scooter-btn a {
            display: block;
            margin-right: 50% !important;
            margin-top: 7px;
        }

        section.s1 div.s h1 {
            font-size: 69px;
            width: 77px;
        }

        section.s1 div.s h2 {
            font-size: 29px;
            line-height: 26px;
            margin-top: 13px;
        }

        section.s1 div.s1-content h2 {
            font-size: 30px;
        }

        section.s1 div.s1-content p {
            font-size: 14px;
        }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item {
        width: 50%;
        float: left;
    }

        .enim-k1 section.blogs div.features div.feature-items div.feature-item span {
            width: 45px !important;
            height: 45px !important;
            line-height: 42px !important;
        }

        .enim-k1 section.blogs div.features div.feature-items div.feature-item b {
            display: block;
            width: calc(100% - 50px);
            float: left;
            font-size: 13px;
            padding: 0 5px;
            min-height: 60px;
        }

    div.scooter-btn a.btn-default.btn-video {
        background: #231f20;
        border-radius: 0px;
        color: #fff;
        border: none;
        font-size: 14px;
    }

    section.chopper div.smart-scooter div.scooter-btn a.btn {
        display: block;
        width: 150px;
        margin-bottom: 7px;
        font-size: 18px !important;
    }

    .enim-k1 section.chopper {
        padding: 100px 0px 29px 0px;
    }

        .enim-k1 section.chopper div.smart-scooter h2 {
            font-size: 27px;
            line-height: 30px;
        }

        .enim-k1 section.chopper div.smart-scooter p {
            font-size: 18px;
        }

        .enim-k1 section.chopper div.smart-scooter div.scooter-btn a.btn-default.btn-video {
            font-size: 18px;
        }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .enim-k1 section.blogs div.features div.feature-items div.feature-item span {
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .enim-k1 section.scooter div.k1 h1 {
        font-size: 70px !important;
    }

    .enim-k1 section.scooter div.smart-scooter h2 span {
        font-size: 30px;
    }

    .enim-k1 section.scooter div.smart-scooter p, section.s1 div.s1-content p {
        font-size: 20px;
        line-height: 22px;
    }

    .enim-k1 section.scooter {
        padding: 0 0 16px 0;
    }

    .enim-k1 section.services div.service h3 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .enim-k1 footer div.contact-form h3 {
        margin: 10px 0 15px;
    }

    .enim-k1 footer div.contact-form input[type=submit] {
        margin-top: 8px;
    }

    .enim-k1 section.slider-payment div.payment {
        margin-top: 20px;
    }

    .enim-k1 section.services {
        padding: 22px 0;
    }

        .enim-k1 section.services div.service {
            margin-bottom: 0;
        }

            .enim-k1 section.services div.service h3 img {
                width: 26px;
            }

            .enim-k1 section.services div.service p {
                font-size: 14px;
            }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item {
        width: 50%;
        float: left;
    }

        .enim-k1 section.blogs div.features div.feature-items div.feature-item b {
            display: block;
            width: calc(100% - 50px);
            float: left;
            font-size: 9px;
            padding: 0 5px;
            min-height: 60px;
        }

    .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box p {
        line-height: 17px;
    }

    .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box a h3 {
        font-size: 24px;
    }

    .enim-k1 section.blogs div.blog-item div.blog-details div.blog-details-box {
        padding: 1px 15px 11px;
    }

    .enim-k1 nav.navbar-default {
        height: 93px;
    }

    section.s1 div.s1-content div.scooter-btn a.btn-danger {
        font-size: 16px;
        margin-right: 10px;
    }

    .btn.btn-default.btn-video {
        background: #231f20 !important;
        /*border-radius: 0;*/
        color: #fff !important;
        font-size: 24px;
        border: none;
    }

    .mobile-show {
        display: inline-block;
    }

    .enim-k1 nav.navbar-default a.navbar-brand {
        width: 70%;
        margin-left: 15px;
    }

    .enim-k1 section.scooter div.k1 {
        width: 100px;
    }

    .enim-k1 section.scooter div.smart-scooter {
        width: calc(100% - 110px);
        margin-top: 0px;
        margin-left: -20px;
    }

    .enim-k1 section.services div.service p {
        padding: 4px 0px;
    }

    .enim-k1 section.blogs div.blog-item div.blog-img img {
        width: 320px;
    }

    .enim-k1 section.slider-payment div.payment a {
        display: block;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .enim-k1 section.slider-payment div.payment img {
        padding-left: 38%;
    }

    .enim-k1 footer div.contact-info div.contact-item i {
        width: 100%;
        margin-bottom: 10px;
    }

    .enim-k1 footer div.contact-info div.contact-item span {
        width: 100%;
        text-align: center;
    }

    .enim-k1 footer div.contact-form input[type="submit"] {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .enim-k1 section.scooter div.k1 h1 {
        font-size: 65px !important;
    }

    .enim-k1 section.chopper div.k1 {
        width: 100% !important;
    }

    .enim-k1 section.scooter div.smart-scooter h2 span {
        font-size: 27px;
    }

    section.s1 {
        padding: 10% 0 0% 26%;
        background-position-x: 40%;
        background-position-y: 67%;
    }

        section.s1 div.s h2,
        section.s1 div.s1-content h2 {
            font-size: 50px;
        }

        section.s1 div.s1-content div.scooter-btn a.btn-default {
            margin-top: 0;
            font-size: 16px;
        }

        section.s1 div.s h2, section.s1 div.s1-content h2 {
            margin-top: 10px;
            font-size: 26px;
            line-height: 22px;
            margin-top: 30px;
        }

        section.s1 div.s h1 {
            font-size: 57px !important;
            width: 66px;
        }

        section.s1 div.s1-content h2, section.s1 div.s h2 {
            margin-top: 9px;
        }

    .enim-k1 section.scooter {
        background-position-x: 69%;
    }

        .enim-k1 section.scooter div.smart-scooter h2 {
            font-size: 28px;
            line-height: 25px;
            margin-top: 30px;
        }

        .enim-k1 section.scooter div.smart-scooter p {
            font-size: 21px;
        }

        .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn {
            margin-top: 5px;
        }

        .enim-k1 section.scooter div.smart-scooter div.scooter-btn {
            margin-bottom: 0px;
            margin-left: 116px;
        }

    section.s1 div.scooter-btn a {
        font-size: 13px;
    }

    div.scooter-btn a.btn-default.btn-video {
        font-size: 13px;
    }

    .enim-k1 section.blogs div.features div.scooter-img img {
        padding: 0;
    }

    .enim-k1 section.chopper {
        padding: 42px 0px 0px 0px;
    }
    .enim-k1 section.chopper div.smart-scooter {
        width: calc(100% - 8px);
    }
    .enim-k1 section.chopper div.smart-scooter p {
        font-size: 15px;
    }
    section.chopper div.smart-scooter div.scooter-btn a.btn {
        width: 120px;
        margin-bottom: 5px;
        font-size: 14px !important;
    }
    .enim-k1 section.chopper div.smart-scooter div.scooter-btn a.btn-default.btn-video {
        font-size: 14px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .enim-k1 section.scooter {
        background-position-x: 81%;
    }

        .enim-k1 section.scooter div.k1 h1 {
            font-size: 40px !important;
        }

        .enim-k1 section.scooter div.k1 {
            width: 50px;
        }

        .enim-k1 section.scooter div.smart-scooter {
            width: calc(100% - 60px);
            margin-top: -5px;
            margin-left: 0;
        }

            .enim-k1 section.scooter div.smart-scooter h2 {
                font-size: 20px;
                line-height: 22px;
            }

                .enim-k1 section.scooter div.smart-scooter h2 span {
                    font-size: 20px;
                }

            .enim-k1 section.scooter div.smart-scooter div.scooter-btn {
                margin-left: 66px;
            }

            .enim-k1 section.scooter div.smart-scooter p {
                font-size: 16px;
            }

            .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn {
                font-size: 14px;
            }

            .enim-k1 section.scooter div.smart-scooter div.scooter-btn a.btn-default.btn-video {
                font-size: 17px;
            }

    .enim-k1 section.blogs div.features div.feature-items div.feature-item span {
        width: 45px !important;
        height: 45px !important;
        line-height: 42px !important;
    }
}
