body {
  background: #000000 !important; }

#contacto {
  top: 0;
  right: 0;
  position: absolute;
  background: #a20004;
  margin: 60px;
  padding: 40px;
  opacity: .7;
  border-radius: 70px; }
  #contacto .outerrSpecial {
    position: absolute;
    top: 0;
    left: 0;
    right: 60px;
    height: 107px;
    width: 100%;
    border-radius: 70px 70px 0 0;
    background: #a02e2e;
    opacity: 0.7; }
  #contacto h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0; }
  #contacto textarea {
    background: white !important;
    color: black !important;
    border-radius: 0 !important; }
  #contacto input[type="text"] {
    border: none !important;
    border-bottom: 1px solid white !important;
    box-shadow: none;
    color: white !important; }
    #contacto input[type="text"]:focus, #contacto input[type="text"]:hover {
      border-bottom: 2px solid white !important; }
  #contacto .contact-submit {
    position: absolute;
    bottom: -29px;
    width: 100%;
    margin: 0 3px 0;
    background: #949494; }
  #contacto input[type=submit] {
    width: 120px;
    height: 10px;
    float: right;
    border-radius: 30px !important;
    border: none !important;
    background: red !important;
    color: white !important;
    line-height: 1px !important;
    padding: 15px !important;
    margin: 7px; }
    #contacto input[type=submit]:hover {
      background: #c10000 !important; }
  #contacto :focus::-webkit-input-placeholder {
    color: #FFFFFF; }
  #contacto :focus::-moz-placeholder {
    color: #FFFFFF; }
  #contacto :focus:-moz-placeholder {
    color: #FFFFFF; }
  #contacto :focus:-ms-input-placeholder {
    color: #FFFFFF; }
  #contacto ::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-weight: bold; }
  #contacto :-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-weight: bold; }
  #contacto ::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    font-weight: bold; }
  #contacto :-ms-input-placeholder {
    opacity: 1;
    font-weight: bold; }
  #contacto ::-ms-input-placeholder {
    opacity: 1;
    font-weight: bold; }
  #contacto .txtarea {
    margin-bottom: 47px;
    position: relative; }
    #contacto .txtarea ::-webkit-input-placeholder {
      color: #000000 !important;
      opacity: 1;
      font-weight: bold; }
    #contacto .txtarea :-moz-placeholder {
      color: #000000 !important;
      opacity: 1;
      font-weight: bold; }
    #contacto .txtarea ::-moz-placeholder {
      color: #000000 !important;
      opacity: 1;
      font-weight: bold; }
    #contacto .txtarea :-ms-input-placeholder {
      color: #000000 !important;
      opacity: 1;
      font-weight: bold; }
    #contacto .txtarea ::-ms-input-placeholder {
      color: #000000 !important;
      opacity: 1;
      font-weight: bold; }

@media (max-width: 1300px) {
  #contacto {
    margin-top: 5px;
    padding: 20px 40px; } }

@media (max-width: 1300px) {
  #contacto {
    margin-top: 5px;
    padding: 20px 40px; } }

@media (max-width: 1100px) {
  #contacto {
    margin-top: 5px;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    float: none; }
    #contacto input[type=text] {
      height: 20px; }
    #contacto .outerrSpecial {
      height: 71px; }
    #contacto .outerrSpecial + div {
      margin-bottom: 0; } }

@media (max-width: 992px) {
  #contacto {
    position: static;
    text-align: center; }
  .outerrSpecial {
    display: none; } }
