/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 7, 2017, 10:02:15 PM
    Author     : Alexander
*/
@media (min-width: 1560px) {
  .hide-lg {
    display: none; } }

@media (min-width: 840px) {
  .xs-text {
    font-size: 20px !important; } }

@media (min-width: 769px) {
  .escItem:hover > div {
    position: absolute;
    padding: 15px;
    background: #00b194;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 22px #6f6f6f;
    top: 0;
    left: 0; }
  .design-title {
    margin-top: 12%; }
  .left-container {
    margin-top: 5% !important; } }

@media (min-width: 1100px) {
  .design-title .title-size {
    font-size: 80px; }
  .design-title img {
    width: 130px; }
  .design-title p.xs-text {
    font-size: 22px;
    margin-top: 20px; }
  .design-text {
    font-size: 22px; }
  .right-container p {
    font-size: 22px !important;
    font-family: avenir; }
  .right-container .design-title {
    font-size: 50px !important; }
  .responsive-margin-left .design-title, .responsive-margin-right .design-title {
    font-size: 50px; }
  .responsive-margin-left p, .responsive-margin-right p {
    font-family: avenir;
    margin-top: 5px;
    font-size: 22px; }
    .responsive-margin-left p img, .responsive-margin-right p img {
      width: 90px; }
  .responsive-margin-left div img, .responsive-margin-right div img {
    width: 120px !important; }
  .responsive-margin-left div span, .responsive-margin-right div span {
    font-size: 32px; } }

@media (min-width: 1000px) {
  .right-container {
    margin-top: 7% !important; }
  article .content-wrapper .entry-meta {
    letter-spacing: .15em; } }

@media (max-width: 999px) {
  article .content-wrapper .entry-meta {
    letter-spacing: .06em;
    line-height: 1.8; } }

@media (min-width: 904px) {
  .responsive-margin-left {
    margin: 25px; }
  .responsive-margin-right {
    margin: 25px; }
  #panel {
    font-size: 22px; }
  .left-container {
    margin-top: 2% !important; } }

@media (max-width: 840px) {
  article .content-wrapper .entry-meta {
    letter-spacing: .04em; }
  .responsive-margin-right .avenir {
    font-size: 16px; } }

@media (min-width: 860px) {
  .responsive-margin-left {
    margin-left: 61% !important; }
  .responsive-margin-right {
    margin-right: 60% !important;
    margin: 20px; } }

@media (max-width: 702px) {
  ul.icons-section li a img {
    margin-top: 10px !important; }
  ul.icons-section li a .white-icon {
    margin-top: 20px !important; } }

@media (min-width: 681px) {
  .xs-show {
    display: none; }
  .xs-hide {
    display: block !important;
    font-size: 17px; }
  .hide-up-xs {
    display: none; } }

@media (max-width: 680px) {
  article .content-wrapper .entry-meta {
    letter-spacing: .02em; }
  .hideAll-xs {
    display: none; }
  .xs-text {
    position: relative;
    top: 0;
    margin: 0;
    padding: 30px;
    color: white;
    background: rgba(49, 42, 42, 0.51); }
  .xs-background-black {
    background: #1b1919;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important; }
  .xs-show {
    display: block !important; }
  .xs-hide {
    display: none; }
  p {
    margin: 0;
    color: #FFFFFF; } }

@media (max-width: 400px) {
  .colrsTtl {
    margin-left: 55% !important; } }
