/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 7, 2017, 10:02:15 PM
    Author     : Alexander
*/
@media (min-width: 769px) {
  .escItem:hover > div {
    position: absolute;
    padding: 15px;
    background: #00b194;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 22px #6f6f6f;
    top: 0;
    left: 0; } }

@media (min-width: 1100px) {
  .design-title .title-size {
    font-size: 50px; }
  .design-title img {
    width: 90px; }
  .design-title p.xs-text {
    font-size: 20px;
    margin-top: 20px; }
  .design-text {
    font-size: 20px; }
  .responsive-margin-left .design-title, .responsive-margin-right .design-title, .right-container .design-title {
    font-size: 50px;
    font-family: avenir; }
  .responsive-margin-left p img, .responsive-margin-right p img, .right-container p img {
    width: 90px; }
  .responsive-margin-left div img, .responsive-margin-right div img, .right-container div img {
    width: 120px !important; }
  .responsive-margin-left div span, .responsive-margin-right div span, .right-container div span {
    font-size: 30px;
    font-family: avenir; }
  .responsive-margin-left p, .responsive-margin-right p, .right-container p {
    font-family: avenir;
    margin-top: 5px;
    font-size: 20px; } }

@media (min-width: 904px) {
  .responsive-margin-left {
    margin: 25px; }
  .responsive-margin-right {
    margin: 25px; } }

@media (min-width: 860px) {
  .responsive-margin-left {
    margin-left: 61% !important; }
  .responsive-margin-right {
    margin-right: 63% !important;
    margin: 20px; } }

@media (min-width: 681px) {
  .xs-show {
    display: none; }
  .xs-hide {
    display: block !important; } }

@media (max-width: 680px) {
  .xs-text {
    position: relative;
    top: 0;
    margin: 0;
    padding: 30px;
    color: white;
    background: rgba(49, 42, 42, 0.51); }
  .xs-background-light-blue {
    background: rgba(0, 180, 208, 0.74); }
  .xs-background-yellow {
    background: rgba(164, 108, 0, 0.82); }
  .xs-background-red {
    background: rgba(97, 14, 28, 0.85); }
  .xs-background-green {
    background: #399a70; }
  .xs-background-purple {
    background: rgba(146, 22, 218, 0.75); }
  .xs-background-black {
    background: #1b1919;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important; }
  .xs-show {
    display: block !important; }
  .xs-hide {
    display: none; } }
