/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2017, 1:26:58 AM
    Author     : Alexander
*/



.comparativo{
  h1{
    color:#FFFFFF;
  }
  span.yellowSpecial{
    font-weight: 400;
    font-size: 17px;
    color: #ffed00;
    padding-right:10px;
    box-shadow: 0 0 90px #ffed00;
  }

  .form-control:focus,.form-control:hover{
    box-shadow: 0 0 15px #ffed00;
    border: 1px solid #FFFFFF;
  }

  .form-control{
    border: 1px solid #00B194;
  }
  label{
    color: #FFFFFF;
    font-size: 14px;
  }

  .input-group-addon{
    background: #00b194;
    border: 1px solid #FFFFFF;
    color: #ffffff!important;
    font-weight: bold;
    font-size: 19px;
  }

  input::-webkit-input-placeholder {
    color: #00B194!important;
  }

  input::-moz-placeholder{
    color: #00B194!important;
  }

  input:-ms-input-placeholder{
    color: #00B194!important;
  }

  input:-moz-placeholder{
    color: #00B194!important;
  }

  .ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover{
    border: 1px solid #ffffff;
    background: #00B194;
    outline: none;
  }
  .ui-widget-header{
    background: #00B194;
    border: 1px solid #ededed;
  }
  .row{
    margin-bottom: 0;
  }
}